﻿@model RS.MvcIoc.NinjectDi.WebApp.Models.ProteinTrackingService

@{
    ViewBag.Title = "AddProtein";
}

<h2>Add Protein</h2>

<p>
    <h2>Goal: @Model.Goal</h2>
    <h3> Protein: @ViewBag.Total </h3>
</p>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>ProteinTrackingService</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Total)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Total)
            @Html.ValidationMessageFor(model => model.Total)
        </div>

        @*<div class="editor-label">
            @Html.LabelFor(model => model.Goal)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Goal)
            @Html.ValidationMessageFor(model => model.Goal)
        </div>*@

        <p>
            <input type="submit" value="Add" aria-label="Add Protein" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
