﻿@inherits RS.MvcIoc.WebApp.ViewPages.ProteinTrackerBasePage

@{
    ViewBag.Title = "Index";
}

<h2>Protein Tracking Service</h2>

<h3>@AnalyticService.Code</h3>

<h3>Protein: @ViewBag.Total : @ViewBag.Goal</h3>